body {
    margin: 0;
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
  }
  
  .content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .particle {
    position: absolute;
    display: block;
    pointer-events: none;
  }
  .particle:nth-child(1) {
    top: 79.9013563502%;
    left: 66.2710187933%;
    font-size: 11px;
    filter: blur(0.02px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(2) {
    top: 26.1818181818%;
    left: 40%;
    font-size: 25px;
    filter: blur(0.04px);
    animation: 31s float infinite;
  }
  .particle:nth-child(3) {
    top: 32.8899637243%;
    left: 42.8432327167%;
    font-size: 27px;
    filter: blur(0.06px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(4) {
    top: 59.2952612394%;
    left: 86.0215053763%;
    font-size: 23px;
    filter: blur(0.08px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(5) {
    top: 0.9732360097%;
    left: 10.7632093933%;
    font-size: 22px;
    filter: blur(0.1px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(6) {
    top: 37.0280146163%;
    left: 32.3212536729%;
    font-size: 21px;
    filter: blur(0.12px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(7) {
    top: 49.3218249075%;
    left: 95.9446092977%;
    font-size: 11px;
    filter: blur(0.14px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(8) {
    top: 93.9467312349%;
    left: 83.820662768%;
    font-size: 26px;
    filter: blur(0.16px);
    animation: 39s float infinite;
  }
  .particle:nth-child(9) {
    top: 89.4348894349%;
    left: 75.9368836292%;
    font-size: 14px;
    filter: blur(0.18px);
    animation: 34s float infinite;
  }
  .particle:nth-child(10) {
    top: 5.8252427184%;
    left: 21.484375%;
    font-size: 24px;
    filter: blur(0.2px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(11) {
    top: 77.2014475271%;
    left: 79.6890184645%;
    font-size: 29px;
    filter: blur(0.22px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(12) {
    top: 16.3855421687%;
    left: 69.9029126214%;
    font-size: 30px;
    filter: blur(0.24px);
    animation: 26s floatReverse infinite;
  }
  .particle:nth-child(13) {
    top: 5.8895705521%;
    left: 4.9261083744%;
    font-size: 15px;
    filter: blur(0.26px);
    animation: 21s float infinite;
  }
  .particle:nth-child(14) {
    top: 76.7527675277%;
    left: 44.4225074038%;
    font-size: 13px;
    filter: blur(0.28px);
    animation: 34s floatReverse infinite;
  }
  .particle:nth-child(15) {
    top: 9.6501809409%;
    left: 60.2526724976%;
    font-size: 29px;
    filter: blur(0.3px);
    animation: 29s floatReverse infinite;
  }
  .particle:nth-child(16) {
    top: 8.8235294118%;
    left: 20.6692913386%;
    font-size: 16px;
    filter: blur(0.32px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(17) {
    top: 95.2612393682%;
    left: 96.7741935484%;
    font-size: 23px;
    filter: blur(0.34px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(18) {
    top: 24.2718446602%;
    left: 56.640625%;
    font-size: 24px;
    filter: blur(0.36px);
    animation: 22s floatReverse2 infinite;
  }
  .particle:nth-child(19) {
    top: 46.8864468864%;
    left: 37.2914622179%;
    font-size: 19px;
    filter: blur(0.38px);
    animation: 31s float infinite;
  }
  .particle:nth-child(20) {
    top: 79.4188861985%;
    left: 31.1890838207%;
    font-size: 26px;
    filter: blur(0.4px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(21) {
    top: 11.8226600985%;
    left: 18.7747035573%;
    font-size: 12px;
    filter: blur(0.42px);
    animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(22) {
    top: 28.2582216809%;
    left: 96.9637610186%;
    font-size: 21px;
    filter: blur(0.44px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(23) {
    top: 20.6896551724%;
    left: 9.8814229249%;
    font-size: 12px;
    filter: blur(0.46px);
    animation: 29s floatReverse infinite;
  }
  .particle:nth-child(24) {
    top: 32.1167883212%;
    left: 50.8806262231%;
    font-size: 22px;
    filter: blur(0.48px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(25) {
    top: 60.9336609337%;
    left: 95.6607495069%;
    font-size: 14px;
    filter: blur(0.5px);
    animation: 21s floatReverse2 infinite;
  }
  .particle:nth-child(26) {
    top: 98.643649815%;
    left: 33.6300692384%;
    font-size: 11px;
    filter: blur(0.52px);
    animation: 34s floatReverse infinite;
  }
  .particle:nth-child(27) {
    top: 70.243902439%;
    left: 42.1568627451%;
    font-size: 20px;
    filter: blur(0.54px);
    animation: 39s float infinite;
  }
  .particle:nth-child(28) {
    top: 19.728729963%;
    left: 32.6409495549%;
    font-size: 11px;
    filter: blur(0.56px);
    animation: 37s float2 infinite;
  }
  .particle:nth-child(29) {
    top: 37.3464373464%;
    left: 68.0473372781%;
    font-size: 14px;
    filter: blur(0.58px);
    animation: 28s float2 infinite;
  }
  .particle:nth-child(30) {
    top: 1.9417475728%;
    left: 37.109375%;
    font-size: 24px;
    filter: blur(0.6px);
    animation: 30s float infinite;
  }
  .particle:nth-child(31) {
    top: 7.7201447527%;
    left: 44.703595724%;
    font-size: 29px;
    filter: blur(0.62px);
    animation: 28s float2 infinite;
  }
  .particle:nth-child(32) {
    top: 83.4951456311%;
    left: 27.34375%;
    font-size: 24px;
    filter: blur(0.64px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(33) {
    top: 18.6046511628%;
    left: 1.9665683382%;
    font-size: 17px;
    filter: blur(0.66px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(34) {
    top: 56.7237163814%;
    left: 85.4616895874%;
    font-size: 18px;
    filter: blur(0.68px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(35) {
    top: 8.8452088452%;
    left: 25.641025641%;
    font-size: 14px;
    filter: blur(0.7px);
    animation: 29s floatReverse infinite;
  }
  .particle:nth-child(36) {
    top: 87.061668682%;
    left: 70.1071080818%;
    font-size: 27px;
    filter: blur(0.72px);
    animation: 29s floatReverse infinite;
  }
  .particle:nth-child(37) {
    top: 31.5270935961%;
    left: 63.2411067194%;
    font-size: 12px;
    filter: blur(0.74px);
    animation: 31s floatReverse infinite;
  }
  .particle:nth-child(38) {
    top: 14.5808019441%;
    left: 49.853372434%;
    font-size: 23px;
    filter: blur(0.76px);
    animation: 22s float infinite;
  }
  .particle:nth-child(39) {
    top: 68.4337349398%;
    left: 67.9611650485%;
    font-size: 30px;
    filter: blur(0.78px);
    animation: 26s float infinite;
  }
  .particle:nth-child(40) {
    top: 45.8536585366%;
    left: 96.0784313725%;
    font-size: 20px;
    filter: blur(0.8px);
    animation: 22s float infinite;
  }
  .particle:nth-child(41) {
    top: 80.0976800977%;
    left: 13.7389597645%;
    font-size: 19px;
    filter: blur(0.82px);
    animation: 31s floatReverse infinite;
  }
  .particle:nth-child(42) {
    top: 58.3232077764%;
    left: 9.7751710655%;
    font-size: 23px;
    filter: blur(0.84px);
    animation: 23s float infinite;
  }
  .particle:nth-child(43) {
    top: 31.1057108141%;
    left: 82.1114369501%;
    font-size: 23px;
    filter: blur(0.86px);
    animation: 36s float infinite;
  }
  .particle:nth-child(44) {
    top: 21.568627451%;
    left: 86.6141732283%;
    font-size: 16px;
    filter: blur(0.88px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(45) {
    top: 19.3470374849%;
    left: 75.9493670886%;
    font-size: 27px;
    filter: blur(0.9px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(46) {
    top: 67.5512665862%;
    left: 59.2808551992%;
    font-size: 29px;
    filter: blur(0.92px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(47) {
    top: 8.6746987952%;
    left: 19.4174757282%;
    font-size: 30px;
    filter: blur(0.94px);
    animation: 27s float infinite;
  }
  .particle:nth-child(48) {
    top: 70.5018359853%;
    left: 39.331366765%;
    font-size: 17px;
    filter: blur(0.96px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(49) {
    top: 97.0588235294%;
    left: 66.9291338583%;
    font-size: 16px;
    filter: blur(0.98px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(50) {
    top: 56.038647343%;
    left: 60.3112840467%;
    font-size: 28px;
    filter: blur(1px);
    animation: 28s float infinite;
  }
  .particle:nth-child(51) {
    top: 96.5018094089%;
    left: 3.8872691934%;
    font-size: 29px;
    filter: blur(1.02px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(52) {
    top: 39.2156862745%;
    left: 82.6771653543%;
    font-size: 16px;
    filter: blur(1.04px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(53) {
    top: 34.2717258262%;
    left: 1.9665683382%;
    font-size: 17px;
    filter: blur(1.06px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(54) {
    top: 49.0196078431%;
    left: 62.9921259843%;
    font-size: 16px;
    filter: blur(1.08px);
    animation: 24s float infinite;
  }
  .particle:nth-child(55) {
    top: 77.3561811506%;
    left: 79.6460176991%;
    font-size: 17px;
    filter: blur(1.1px);
    animation: 21s floatReverse2 infinite;
  }
  .particle:nth-child(56) {
    top: 38.7878787879%;
    left: 63.4146341463%;
    font-size: 25px;
    filter: blur(1.12px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(57) {
    top: 51.7704517705%;
    left: 13.7389597645%;
    font-size: 19px;
    filter: blur(1.14px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(58) {
    top: 92.9782082324%;
    left: 20.4678362573%;
    font-size: 26px;
    filter: blur(1.16px);
    animation: 30s floatReverse2 infinite;
  }
  .particle:nth-child(59) {
    top: 72.9040097205%;
    left: 22.4828934506%;
    font-size: 23px;
    filter: blur(1.18px);
    animation: 37s float2 infinite;
  }
  .particle:nth-child(60) {
    top: 47.400241838%;
    left: 14.605647517%;
    font-size: 27px;
    filter: blur(1.2px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(61) {
    top: 14.5808019441%;
    left: 5.8651026393%;
    font-size: 23px;
    filter: blur(1.22px);
    animation: 29s floatReverse infinite;
  }
  .particle:nth-child(62) {
    top: 86.9352869353%;
    left: 43.1795878312%;
    font-size: 19px;
    filter: blur(1.24px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(63) {
    top: 88.7816646562%;
    left: 84.5481049563%;
    font-size: 29px;
    filter: blur(1.26px);
    animation: 26s float infinite;
  }
  .particle:nth-child(64) {
    top: 51.1056511057%;
    left: 42.4063116371%;
    font-size: 14px;
    filter: blur(1.28px);
    animation: 26s floatReverse2 infinite;
  }
  .particle:nth-child(65) {
    top: 9.6618357488%;
    left: 86.5758754864%;
    font-size: 28px;
    filter: blur(1.3px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(66) {
    top: 54.1717049577%;
    left: 25.3164556962%;
    font-size: 27px;
    filter: blur(1.32px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(67) {
    top: 43.8489646772%;
    left: 87.1694417238%;
    font-size: 21px;
    filter: blur(1.34px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(68) {
    top: 41.5458937198%;
    left: 53.5019455253%;
    font-size: 28px;
    filter: blur(1.36px);
    animation: 26s float infinite;
  }
  .particle:nth-child(69) {
    top: 2.8915662651%;
    left: 61.1650485437%;
    font-size: 30px;
    filter: blur(1.38px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(70) {
    top: 37.8181818182%;
    left: 13.6585365854%;
    font-size: 25px;
    filter: blur(1.4px);
    animation: 34s floatReverse2 infinite;
  }
  .particle:nth-child(71) {
    top: 89.2156862745%;
    left: 70.8661417323%;
    font-size: 16px;
    filter: blur(1.42px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(72) {
    top: 19.656019656%;
    left: 10.8481262327%;
    font-size: 14px;
    filter: blur(1.44px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(73) {
    top: 20.5630354957%;
    left: 51.1307767945%;
    font-size: 17px;
    filter: blur(1.46px);
    animation: 26s floatReverse infinite;
  }
  .particle:nth-child(74) {
    top: 10.7975460123%;
    left: 79.802955665%;
    font-size: 15px;
    filter: blur(1.48px);
    animation: 39s float infinite;
  }
  .particle:nth-child(75) {
    top: 90.4176904177%;
    left: 13.8067061144%;
    font-size: 14px;
    filter: blur(1.5px);
    animation: 29s float infinite;
  }
  .particle:nth-child(76) {
    top: 29.4117647059%;
    left: 20.6692913386%;
    font-size: 16px;
    filter: blur(1.52px);
    animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(77) {
    top: 83.3333333333%;
    left: 48.2283464567%;
    font-size: 16px;
    filter: blur(1.54px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(78) {
    top: 41.2776412776%;
    left: 38.4615384615%;
    font-size: 14px;
    filter: blur(1.56px);
    animation: 29s floatReverse infinite;
  }
  .particle:nth-child(79) {
    top: 61.3138686131%;
    left: 48.9236790607%;
    font-size: 22px;
    filter: blur(1.58px);
    animation: 40s float infinite;
  }
  .particle:nth-child(80) {
    top: 47.0012239902%;
    left: 54.0806293019%;
    font-size: 17px;
    filter: blur(1.6px);
    animation: 27s floatReverse2 infinite;
  }
  
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }
  